.no-scroll {
   overflow: hidden;
}

@mixin clearfix() {
   &:before, &:after {
      display: table;
      content: "";
   }

   &:after {
      clear: both;
   }

}

.modal {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   z-index: 1000;
}


.enter-modal {
   background-color: #222222;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: opacity 0.5s ease;
   .address, .social {
      color: white;
   }
   &.invisible {
      opacity: 0;
      transition: opacity 0.5s ease;
   }
   .phone {
      color: white;
      position: absolute;
      top: 44px;
      width: 100%;
      text-align: center;
      a, a:visited {
         color: white;
         text-decoration: none;
         font-size: 24px;
         font-weight: 700;
      }
   }
   
   .footer_contacts {
      position: absolute;
      bottom: 20px;
      .vk {
         background-image: url(../img/social-vk-white.svg);
      }

      .instagram {
         background-image: url(../img/social-instagram-white.svg);
         padding-left: 1.8rem;
      }

      .fb {
         background-image: url(../img/social-fb-white.svg);
      }
   }
}

.enter-wrapper {
   padding-bottom: 132px;
   position: relative;
   .text {
      color: white;
      font-size: 28px;
      font-weight: 700;
      display: block;
      padding-bottom: 43px;
      @media screen and (max-width:768px) {
         font-size: 20px;
      }
   }
   button {
      width: 180px;
      height: 50px;
      border: none;
      outline: none;
      background: rgba(255, 255, 255, 0.35);
      color: white;
      border-radius: 6px;
      margin-bottom: 20px;
      cursor: pointer;
      font-size: 22px;
      transition: opacity 0.3s ease;
      &:hover {
         opacity: 0.8;
      }
   }
   .buttons {
      width: 380px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width:400px) {
         flex-direction: column;         
      }
   }
   .wrpt {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 53%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   @media screen and (max-width:980px) {
      padding: 0 0 132px 0;
   }
   .main_logo .logo_greenside {
      margin: 0 20px;
   }
}


.design {
   position: absolute;
   bottom: 16px;
   right: 4em;
   opacity: 0.3;
   a, a:visited {
      color: black;
   } 
}

.menu-modal {
   background: #222222;
   padding: 44px 0 52px 0;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;
   color: white;
   transition: opacity 0.5s ease;
   opacity: 0;
   .background-logo {
      width: 100%;
      padding: 0 77px;
      box-sizing: border-box;
      position: fixed;
      top: 200px;
   }
   .close {
      cursor: pointer;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 38px;
      right: 78px;
      background: #494949;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 20px;
      font-weight: 100;
      padding-top: 4px;
      box-sizing: border-box;
   }
   .header {
      width: 100%;
      padding: 0 77px 32px 119px;
      border-bottom: 1px solid rgba(220, 220, 220, 0.1);
      .pages {
         display: flex;
         position: relative;
         white-space: nowrap;
      }
      .cursor {
         position: absolute;
         height: 4px;
         width: 100px;
         background: #00F7D8;
         top: 34px;
         transform: translateX(0);
         left: -20px;
         transition: transform 0.5s ease-in-out;
      }
      .page-title {
         padding-right: 56px;
         color: white;
         font-weight: 700;
         font-size: 24px;
         cursor: pointer;
         opacity: 0.35;
         &.current {
            opacity: 1;
         }
      }
   }
   .title {
      color: white;
      font-weight: 700;
      font-size: 34px;
      padding-bottom: 36px;
   }

   .pages-wrapper {
      overflow: hidden;
      padding: 67px 0 19px 0;
      width: 1000000px;
      transition: transform 0.5s ease-in-out;
      transform: translateX(0);
   }
   .page {
      width: calc(100vw - 20px);
      display: inline-block;
      padding-right: 20px;
      vertical-align: top;
   }

   .page-content {
      padding: 0 77px 0 79px;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
   }

   .tables {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 16px;
   }

   .page-footer {
      padding: 0 20px 0 40px;
      font-size: 16px;
      .text {
         line-height: 24px;
         padding-top: 16px;
      }
   }

   .block {
      padding-left: 40px;
      .items {
         display: flex;
         flex-wrap: wrap;
         padding-right: 20px;
      }
      .item {
         max-width: 340px;
         padding-right: 60px;
         padding-bottom: 32px;
      }
   }

   .block-title {
      font-weight: 700;
      font-size: 28px;
      padding-bottom: 24px;
   }

   .item-title {
      color: #CFAF4B;
      font-weight: 700;
      font-size: 24px;
      padding-bottom: 18px;
   }

   .item-text {
      padding-bottom: 16px;
      font-size: 18px;
      line-height: 24px;
      text-align: justify;
   }

   .item-price {
      font-size: 24px;
      font-weight: 700;
      color: #00F7D8;
   }

   table {
      color: white;
      max-width: 401px;
      flex-basis: 50%;
      padding-bottom: 40px;
      padding-left: 40px;
      @media screen and (max-width: 810px) {
         flex-basis: 51%;
      }
      td {
         padding-bottom: 24px;
         &.subtitle {
            font-size: 24px;
            font-weight: 700;
         }
      }
      thead {
         font-weight: 700;
         font-size: 28px;
      }
      tbody {
         td {
            font-size: 18px;
            width: 100%;
         }
         .price {
            color: #CFAF4B;
            font-weight: 700;
         }
      }
   }

   @media screen and (max-width: 786px) {
      .header {
         padding: 0 20px 0 20px;
         .pages {
            flex-wrap: wrap;
         }
         .page-title {
            padding-bottom: 32px;
         }
      }
   }
   @media screen and (max-width: 560px) {
      .close {
         right: 28px;
         top: 10px;
         width: 30px;
         height: 30px;
      }
      .background-logo {
         padding: 0 20px;
         top: 300px;
      }
      .page-content {
         padding: 0 0 0 20px;
         box-sizing: border-box;
      }
      .page {
         width: 100vw;
         padding-right: 20px;
         box-sizing: border-box;
      }
      .block {
         padding: 0;
         .item {
            padding-right: 0;
            max-width: calc(100% - 20px);
         }
      }
      .page-footer {
         padding: 0 40px 0 0;
         max-width: 100vw;
      }
      table {
         padding-left: 0;
      }
   }
}

.gallery-modal {
   background: rgba(0, 0, 0, 0.8);
}

.modal-content {
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   height: 100%;
   align-items: center;
   width: 60%;
   @media screen and (max-width: 900px) {
      width: 90%;
   }
}

.hide {
   display: none;
}

.slider_item {
   padding-bottom: 10px;
}

.light-slider-wrapper {
   width: 100%;
}

.light-slider-wrapper img {
   max-width: 100%;
   height: auto;
   width: 100%;
}

.bowl-title {
   font-size: 28px;
   font-weight: 700;
   padding: 0 0 34px 40px;
}

.bowls {
   box-sizing: border-box;
   width: calc(100% - 40px);
   display: flex;
   flex-wrap: wrap;
   padding-left: 40px;
   .bowl-item {
      display: flex;
      font-size: 24px;
      font-weight: 700;
      padding: 0 45px 24px 0;
   }
   .bowl-name {
      width: 300px;
      min-width: 130px;
   }
   .bowl-price {
      color: #CFAF4B;
   }
}

@font-face {
   font-family: 'ProximaNova';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/ProximaNova/ProximaNova-Regular.otf');
}

@font-face {
   font-family: 'ProximaNova-Bold';
   font-weight: normal;
   font-style: normal;
   src: url('../fonts/ProximaNova/ProximaNova-Bold.otf');
}

html {
   font-family: 'ProximaNova', Helvetica, Arial, sans-serif;
   font-size: 10px;

   @media screen and (min-width:980px) {
      font-size: 16px;
   }

}

body {
   @media screen and (min-width:768px) {
      background-image: url(../img/body-bg.svg);
      background-repeat: repeat;
      background-size: 196px;
      background-position-x: -45px;
   }

}

img {
   max-width: 100%;
   max-height: 100%;
}

p {
   margin: .63rem 0;
}

h2 {
   color: #000000;
   font-size: 2.13rem;
}

.test {
   outline: 1px solid red;
}

.wrapper {
   position: relative;
   overflow: hidden;
   width: 100%;
   max-width: 1280px;
   margin: auto;

   > .page {
      align-items: stretch;
      width: calc(100% + 240px);
      margin-left: -240px;
      transition: margin .5s ease;

      @media screen and (min-width:768px) {
         width: 100%;
         margin-left: 0;
      }

      > .side {
         position: relative;
         z-index: 999;
         float: left;
         width: 240px;

         > .nav {
            position: fixed;
            width: 240px;
            padding-left: 15px;

            .side-toggle {
               position: absolute;
               z-index: 999;
               top: 0;
               right: -36px;

               @media screen and (min-width:768px) {
                  display: none;
               }

            }

            > ul {
               padding-top: 30px;
               list-style: none;

               > li {
                  position: relative;
                  margin-top: 7px;
                  margin-bottom: 7px;
                  font-size: 16px;

                  &:first-child {
                     margin-bottom: 27px;
                     font-size: 24px;
                     font-weight: bold;
                  }

                  &:after {
                     position: absolute;
                     z-index: -1;
                     top: .4em;
                     left: -999px;
                     display: inline-block;
                     width: 97px;
                     height: 1px;
                     content: '';
                     transition: all .5s ease;
                     opacity: 0;
                     background: #00f7d8;
                  }

                  > a {
                     z-index: 2;
                     transition: opacity .5s;
                     text-decoration: none;
                     opacity: .35;
                     color: #000;
                  }

                  &.active {
                     > a {
                        opacity: 1;
                     }

                     &:after {
                        left: -29px;
                        height: 4px;
                        opacity: 1;
                     }

                  }

               }

            }

         }

      }

      > .body {
         float: left;
         width: calc(100% - 255px);
         padding-right: 15px;
         padding-left: 255px;
         transition: opacity .5s;

         > section {
            padding: 15px;
            padding-top: 40px;
            margin-left: -240px;
            padding-left: 240px;
            @include clearfix();
            > * {
               transform: translateX(100%);
               transition: transform 0.3s ease-out;               
            }
            @for $i from 1 through 5 {
               *:nth-child(#{$i}) {
                  transition-duration: #{0.3s + $i * 0.1s};
               }
            }
            &.scrolled {
               > * {
                  transform: translateX(0);
               }
            }
         }

         > section:first-child {
            > * {
               transform: translateX(0);
            }
            min-height: 100vh;
            @media screen and (max-width:980px) {
               padding-left: 15px;
            }
            @media screen and (max-width:768px) {
               padding-left: 240px;
            }
         }

      }

   }

}

.side-open {
   .page {
      margin-left: 0;
   }

   .body {
      opacity: .5;
   }

   .side {
      border-right: 1px solid #DCDCDC;
   }

}

.side-toggle {
   width: 48px;
   height: 48px;
   cursor: pointer;
   text-indent: -9999px;
   border: none;
   border-radius: 25%;
   background: rgba(255, 255, 255, .5);
   box-shadow: 0px 0px 20px #fff;

   > span, &:before, &:after {
      position: absolute;
      top: 22px;
      left: 9px;
      display: block;
      overflow: hidden;
      width: 30px;
      width: 30px;
      height: 4px;
      transition: transform .8s ease, top .5s, opacity .3s, left 1s;
      background: #00f7d8;
   }

   &:before {
      top: 12px;
      content: '';
   }

   &:after {
      top: 32px;
      content: '';
   }

}

.side-open .side-toggle {
   transition: top .3s 0;

   span {
      left: -20px;
      opacity: 0;
   }

   &:before {
      top: 24px;
      transform: rotate(45deg);
   }

   &:after {
      top: 24px;
      transform: rotate(-45deg);
   }

}

.main {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   flex-wrap: wrap;

   @media screen and (min-width:980px) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: flex-start;
   }

   &_logo {
      display: flex;
      align-self: center;
      flex: 0 0 100%;
      flex-direction: column;
      justify-content: center;
      min-height: 240px;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;

      .logo_greenside {
         display: block;
         min-height: 240px;
         max-height: calc(100vh - 40px - 15rem);
         margin: auto;

         @media screen and (max-width:980px) {
            max-height: calc(100vh - 40px - 30rem);
         }

      }

      .go-bottom {
         display: block;
         overflow: hidden;
         width: 64px;
         height: 64px;
         margin: auto;
         text-indent: -9999px;
         border-radius: 100%;
         background: url(../img/arrows-down.svg) center center no-repeat white;
         box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
      }

      @media screen and (min-width:980px) {
         flex: 0 0 calc(100% - 210px);
      }

   }

   &_phone-block {
      flex: 0 0 50%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: right;

      @media screen and (min-width:980px) {
         flex: 0 0 200px;
      }

      >.phone {
         display: block;
         white-space: nowrap;
         margin-bottom: .5rem;
         text-decoration: none;
         color: #000000;
         font-size: 1.5rem;
         font-size: 1.5rem;
         font-weight: 700;
      }

      >.work-time p {
         margin: 0;
         padding: .31rem 0;
         color: #000000;
         font-weight: 700;
         font-family: Helvetica;
         font-size: 1rem;

         > span {
            padding: 0 .19rem;
            color: #999;
            font-weight: 500;
         }

      }

   }

   &_address-block {
      flex: 0 0 50%;
      padding-top: .94rem;
      padding-bottom: .94rem;

      .address {
         color: #000000;
         font-size: 1rem;
      }

   }

}

.social {
   display: inline-block;
   height: 1.38rem;
   padding-right: .19rem;
   padding-left: 1.5rem;
   vertical-align: top;
   text-decoration: none;
   color: #000;
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 1.13rem;
   font-family: 'ProximaNova-Bold';
   font-size: 1.13rem;

   &.vk {
      background-image: url(../img/social-vk.svg);
   }

   &.instagram {
      background-image: url(../img/social-instagram.svg);
   }

   &.fb {
      background-image: url(../img/social-fb.svg);
   }
   transition: transform 0.3s ease;
   &:hover {
      transform: scale(1.1);
   }
}

.about {
   position: relative;
   margin-right: -.63rem;
   margin-left: -.63rem;

   &.owl-carousel {
      .owl-stage-outer {
         margin: -50px;
         padding: 50px;
      }

      .owl-nav {
         .disabled {
            display: none;
         }
         .owl-next {
            position: absolute;
            z-index: 99;
            top: 50%;
            right: 0;
            width: 2.25rem;
            height: 2.25rem;
            margin-top: -30px;
            margin-right: -1.13rem;
            color: transparent;
            border-radius: 100%;
            background: url(../img/arrow-right.svg) center no-repeat rgba(0, 0, 0, 0.64);
            background-size: 40%;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
         }
         .owl-prev {
            position: absolute;
            z-index: 99;
            top: 50%;
            left: -1rem;
            width: 2.25rem;
            height: 2.25rem;
            margin-top: -30px;
            margin-right: -1.13rem;
            transform: rotate(180deg);
            color: transparent;
            border-radius: 100%;
            background: url(../img/arrow-right.svg) center no-repeat rgba(0, 0, 0, 0.64);
            background-size: 40%;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
         }

      }

   }

   &_card {
      position: relative;
      max-width: calc(100vw - 45px);
      cursor: pointer;
      transition: all .5s ease;

      .img {
         position: relative;
         width: 515px;
         height: 24.56rem;
         text-align: center;
         box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.30);
         overflow: hidden;

         @media screen and (max-width: 560px) {
            width: auto;
         }

         img {
            min-width: 100%;
            height: 100%;
            transition: all .5s ease;
            object-fit: cover;
         }

         .arrow {
         }

         .text {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            overflow: hidden;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: all .5s ease;
            text-align: left;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.5rem;

            &_wrpt {
               position: relative;
               margin: 10px 20px;
               padding: 10px;
               transition: all .5s ease;
               transform: scale(.95);
               opacity: 0;
            }

         }

      }

      .title {
         display: block;
         margin-top: 2.5rem;
         transition: color .1s ease;
         transition: all .5s ease;
         color: #000;

         @media screen and (min-width:768px) {
            color: #AAA;
         }

         span {
            display: inline-block;
            font-size: 24px;
            font-weight: bold;

            &::after {
               display: block;
               width: 60%;
               height: .4rem;
               margin-top: 1rem;
               content: '';
               background-color: #00F7D8;
            }

         }

      }

      &:first-child .img::after {
         position: absolute;
         z-index: -1;
         bottom: -2rem;
         left: -2rem;
         display: inline-block;
         width: 9.56rem;
         height: 8rem;
         content: '';
         background: url(../img/rectangle-4.svg);
      }

      & .img::after {
         transition: all .5s ease;
      }

      &:last-child .img::after {
         position: absolute;
         z-index: -1;
         right: 2rem;
         bottom: -2rem;
         display: inline-block;
         width: 9.56rem;
         height: 8rem;
         content: '';
         background: url(../img/rectangle-4.svg);
      }

      &:hover {
         transform: scale(1.05);

         .title {
            transform: scale(1.1);
            color: #000;
            filter: grayscale(0%);
         }

         .img {
            img {
               filter: blur(2px);
            }

            .text {
               background: rgba(0, 0, 0, 0.5);

               &_wrpt {
                  margin-top: 0;
                  transform: scale(1);
                  opacity: 1;
               }

            }

         }

         & .img::after {
            transform: scale(.9);
         }

      }

      @media screen and (max-width:768px) {
         .img {
            .text {
               background: rgba(0, 0, 0, 0.5);

               &_wrpt {
                  margin-top: 0;
                  transform: scale(1);
                  opacity: 1;
                  font-size: 1.2rem;
               }

            }

         }

      }

   }

}

.menu {
   margin-right: -.63rem;
   margin-left: -.63rem;
   text-align: left;

   @media screen and (max-width:1200px) {
      text-align: center;
   }

   &_card {
      position: relative;
      display: inline-block;
      margin: 1rem .63rem;
      cursor: pointer;
      transition: all .5s ease;

      .img {
         position: relative;
         width: auto;
         width: 279px;
         height: 368px;
         text-align: center;
         box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15), 0 5px 60px 0 rgba(0, 0, 0, 0.25);

         img {
            min-width: 100%;
            height: 100%;
            object-fit: cover;
         }

      }

      .title {
         position: absolute;
         position: absolute;
         bottom: 1rem;
         display: block;
         margin-top: 2.5rem;
         transition: color .1s ease;
         transition: all .5s ease;
         text-align: left;
         color: #fff;

         span {
            display: inline-block;
            width: 8rem;
            padding-left: 32px;
            transition: all .5s ease;
            font-size: 24px;
            font-weight: bold;

            &::after {
               position: relative;
               display: block;
               width: 0%;
               height: 5px;
               margin-left: -8rem;
               content: '';
               transition: all .5s ease, width 1s ease;
               opacity: 0;
               background-color: #00F7D8;
            }

         }

      }

      @media screen and (max-width:1200px) {
         .title {
            bottom: 4rem;

            span {
               margin-bottom: 0;
               opacity: 1;

               &::after {
                  bottom: 0;
                  width: 100%;
                  margin-left: -4rem;
                  transform: rotate(0);
                  opacity: 1;
               }

            }

         }

      }

      &:hover {
         transform: scale(1.05);

         .title {
            bottom: 4rem;

            span {
               margin-bottom: 0;
               opacity: 1;

               &::after {
                  bottom: 0;
                  width: 100%;
                  margin-left: -4rem;
                  transform: rotate(0);
                  opacity: 1;
               }

            }

         }

      }

   }

}

.gallery {
   &_item {
      position: relative;
      float: left;
      width: calc(50% - 10px);
      max-width: 309px;
      height: 14.44rem;
      margin: 4px;
      transition: all .5s ease;

      &:hover {
         transform: scale(1.05);
         z-index: 10;
         box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      }

      &:first-child {
         width: calc(100% - 319px - 10px);
         min-width: 320px;
         max-width: 629px;
         height: 29.38rem;

         @media screen and (max-width:980px) {
            width: calc(100% - 12px);
         }

      }

   }

   img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
   }

   &_all {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.51);

      a {
         position: absolute;
         right: 2.19rem;
         bottom: 1.56rem;
         left: 2rem;
         padding-right: 6.25rem;
         text-decoration: none;
         color: #fff;
         background-image: url(../img/arrow-right.svg);
         background-repeat: no-repeat;
         background-position: right center;
         background-size: 1.25rem;
         font-size: 1.5rem;
      }

   }

}

.discount {
   
   > .text {
      max-width: 634px;
      font-size: 18px;
      margin-bottom: 70px;
   }

   .bottom-text {
      font-size: 24px;
      opacity: 0.35;
   }

   .cards {
      display: flex;
      flex-wrap: wrap;
   }

   &_card {
      transition: all .5s ease;
      height: 320px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-right: 8px;
      flex: 1;
      .img {
         position: relative;
         width: auto;
         width: 279px;
         height: 181px;
         border-radius: 6px;
         text-align: center;
         box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15), 0 5px 60px 0 rgba(0, 0, 0, 0.25);
         margin-bottom: 32px;
         img { 
            border-radius: 6px;
            min-width: 100%;
            height: 100%;
            object-fit: cover;
         }
         box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
      }
      .title {
         font-size: 18px;
         margin-bottom: 14px;
         opacity: 0.5;
         transition: opacity .5s ease;
      }

      .text {
         transition: opacity .5s ease;
         width: 60%;
         text-align: center;
         opacity: 0.5;
         font-size: 15px;
         > span > span {
            white-space: nowrap;
         }
      }

      &:hover {
         transform: scale(1.05);
         .text {
            opacity: 1;
         }
         .title {
            bottom: 4rem;
            opacity: 1;
            span {
               margin-bottom: 0;
               opacity: 1;

               &::after {
                  bottom: 0;
                  width: 100%;
                  margin-left: -4rem;
                  transform: rotate(0);
                  opacity: 1;
               }
            }
         }
      }
   }

}

#reviews {
   h1 {
      display: inline-block;
      margin-right: 20px;
   }
}

.reviews {
   text-align: center;
   &.owl-carousel {
      position: relative;
      
      .owl-nav {
         .disabled {
            display: none;
         }
         .owl-next {
            &:before {
               content: '';
               position: absolute;
               z-index: 99;
               top: 50%;
               left: 6px;
               width: 2.25rem;
               height: 2.25rem;
               margin-top: -30px;
               margin-right: -1.13rem;
               color: transparent;
               border-radius: 100%;
               background: url(../img/arrow-right.svg) center no-repeat rgba(0, 0, 0, 0.64);
               background-size: 40%;
               box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.50);
            }
            position: absolute;
            top: 0;
            right: 0;
            width: 5rem;
            height: 100%;
            color: transparent;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
         }

         .owl-prev {
            &:before {
               content: '';
               position: absolute;
               z-index: 99;
               top: 50%;
               left: 0;
               width: 2.25rem;
               height: 2.25rem;
               margin-top: -30px;
               margin-right: -1.13rem;
               color: transparent;
               border-radius: 100%;
               transform: rotate(180deg);
               background: url(../img/arrow-right.svg) center no-repeat rgba(0, 0, 0, 0.64);
               background-size: 40%;
               box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.50);
            }
            position: absolute;
            top: 0;
            left: 0;
            width: 5rem;
            height: 100%;
            color: transparent;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
         }

      }

   }

}

.review {
   display: block;
   width: 280px;
   margin: 0;
   padding: 0 3.75rem;
   text-align: left;
   vertical-align: top;

   &:first-child {
      margin-left: -2.5rem;
   }

   &:last-child {
      margin-right: -2.5rem;
   }

   &_message {
      position: relative;
      margin-top: 20px;
      padding: 24px;
      color: #000;
      border-radius: 4px;
      background: #FFF;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10), 0px -5px 20px 0 rgba(0, 0, 0, 0.10);
      font-size: 16px;
      font-weight: bold;

      &_source {
         span {
            color: #AAA;
            font-size: 12px;
         }

         a {
            text-decoration: none;
            color: #000;
            font-size: 12px;
         }

      }

      &::after {
         content: '';
         display: none;
         width: 41px;
         height: 33px;
         background-image: url(../img/sheet.svg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: 100%;
      }

      &.sheet-right-top::after {
         display: inline-block;
         position: absolute;
         right: -20px;
         top: 5px;
      }

      &.sheet-left-bottom::after {
         display: inline-block;
         position: absolute;
         left: -25px;
         bottom: -10px;
      }

      &.sheet-left-bottom-rotate::after {
         display: inline-block;
         position: absolute;
         left: -20px;
         bottom: 30px;
         transform: rotate(90deg);
      }

   }

   &_user {
      display: flex;
      align-items: center;
      padding-top: 18px;
      padding-bottom: 18px;

      &_photo {
         overflow: hidden;
         width: 48px;
         height: 48px;
         border-radius: 100%;

         img {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
         }

      }

      &_name {
         padding: 16px;
         color: #000000;
         font-size: 20px;
      }

   }

}

.reviewform {
   display: inline-block;
   align-self: center;
   width: 178px;
   margin-top: 60px;
   margin-bottom: 60px;
   text-align: left;
   color: #000000;
   font-family: 'ProximaNova-Bold';
   font-size: 18px;

   &::after {
      display: block;
      width: 80%;
      height: 8px;
      content: '';
      background: #00F7D8;
   }
   a, a:visited {
      text-decoration: none;
      color: black;
   }
}

.footer {
   border-top: 1px solid #F3F3F3;
   background: #fff;
   display: flex;
   padding: 3rem 1rem;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

   @media screen and (min-width:768px) {
      padding: 3rem 4rem;
   }

   >div {
      text-align: center;
      padding: .5rem 0;
      flex-basis: 50%;

      @media screen and (min-width:768px) {
         flex-basis: auto;
         flex-wrap: nowrap;
         text-align: left;
      }

   }

   &_logo {
      padding-top: 2rem;
   }

   &_phone {
      a {
         display: inline-block;
         font-family: 'ProximaNova-Bold';
         font-size: 1.13rem;
         color: #000000;
         text-decoration: none;
         padding-left: 1.5rem;
         line-height: 1.5rem;
         background-image: url(../img/phone.svg);
         background-repeat: no-repeat;
         background-position: left calc(50% - .14rem);
         background-size: 1rem;
      }

   }

   &_time {
      p {
         margin: 0;
         padding: .31rem 0;
         color: #000000;
         font-family: Helvetica;
         font-size: 1rem;

         > span {
            padding: 0 .19rem;
            color: #999;
         }

      }

   }
}

@import '../../bower_components/normalize-css/normalize.css';
@import '../../bower_components/owl.carousel/dist/assets/owl.carousel.min.css';
@import '../../bower_components/lightslider/dist/css/lightslider.min.css';

