<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    {{#each global.header}}
      <{{this.tagName}} {{#each this.attributes}}"{{this.attribute}}"="{{this.value}}"{{/each}}>{{this.content}}</{{this.tagName}}>
    {{/each}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="">
    <div class="wrapper">
        <div class="page">
            <div class="side">
                <nav class="nav">
                    <div class="side-toggle">
                        <span>toggle menu</span>
                    </div>
                    <ul>
                        {{#each global.leftMenu}}
                           {{#if @first}}
                           <li class="active"><a href="#{{this.hash}}">{{this.title}}</a></li>
                           {{else}}
                              <li><a href="#{{this.hash}}">{{this.title}}</a></li>
                           {{/if}}
                        {{/each}}
                    </ul>
                </nav>
            </div>
            <!-- end: .side -->
            <div class="body">
                <section id="main" class="main">
                    <div class="main_logo">
                        <div class="wrpt">
                            <img class="logo_greenside" src="/assets/img/logo_greenside.svg" alt="">
                            <a href="#about" class="go-bottom">Вниз</a>
                        </div>
                    </div>
                    <div class="main_phone-block">
                        <a class="phone" href="tel:{{global.phone}}">{{global.phone}}</a>
                        <div class="work-time">
                            {{#each global.workTime}}
                              <p><span>{{this.day}}</span>{{this.time}}</p>
                            {{/each}}
                        </div>
                    </div>
                    <div class="main_address-block">
                        <p class="address">{{global.address}}</p>
                        <p>
                            <a class="social vk" href="#" target="_blank"></a>
                            <a class="social fb" href="#" target="_blank"></a>
                            <a class="social instagram" href="#" target="_blank">greenside_hookahim</a>
                        </p>
                    </div>
                </section>
                <!-- end: #main -->
                <section id="about">
                    <h2>Весь день с вами:</h2>
                    <div class="about owl-carousel">
                        {{#each global.about}}
                           <div class="about_card">
                               <div class="img">
                                   <img src="{{this.image}}" alt="">
                                   <div class="text">
                                       <div class="text_wrpt">
                                           <p>{{this.text}}</p>
                                       </div>
                                   </div>
                               </div>
                               <div class="title"><span>{{this.title}}</span></div>
                           </div>
                        {{/each}}
                    </div>
                </section>
                <!-- end: #about -->

                <section id="menu">
                    <h1>Меню:</h1>
                    <div class="menu">
                        {{#each global.menuPreviews}}
                           <div class="menu_card">
                               <div class="img">
                                   <img src="{{this.image}}" alt="">
                               </div>
                               <div class="title"><span>{{this.title}}</span></div>
                           </div>
                        {{/each}}
                    </div>
                </section>
                <!-- end: #menu -->

                <section id="gallery">
                    <h1>Фото:</h1>
                    <div class="gallery">
                        <div class="gallery_items">
                            {{#each global.photos}}
                                {{#if this.main}}
                                    {{#if @last}}
                                        <div class="gallery_item"><img src="{{this.photo}}" alt=""><div class="gallery_all"><a href="#">Все фотографии</a></div></div>
                                    {{else}}
                                        <div class="gallery_item"><img src="{{this.photo}}" alt=""></div>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </section>
                <!-- end: #gallery -->

                <section id="discount">
                    <h1>Скидки и акции:</h1>
                    <div class="discount">
                        <div class="text">
                           {{global.description}}
                        </div>
                        <div class="cards">
                           {{#each global.discounts}}
                           <div class="discount_card">
                               <div class="img">
                                   <img src="{{this.image}}" alt="{{this.title}} {{this.text}} {{this.price}}">
                               </div>
                               <div class="title"><span>{{this.title}}</span></div>
                               <div class="text"><span>{{this.text}} <span>{{this.price}}</span></span></div>
                           </div>
                           {{/each}}
                        </div>
                        <div class="bottom-text">*Так же вы получите скидку 10% в ваш День рождения :)</div>
                    </div>
                </section>
                <!-- end: #discount -->

                <section id="reviews">
                    <h1>О нас говорят:</h1>
                    <div class="reviewform"><a href="mailto:{{global.reviewEmail}}">Оставить отзыв</a></div>
                    <div class="reviews owl-carousel">
                        {{#grouped_each 2 global.parsed_reviews}}
                            <div class="item">
                                {{#each this}}
                                     <div class="review">
                                         <div class="review_message {{this.class}}">
                                             <p>{{this.text}}</p>
                                             <div class="review_message_source"><span>Источник: </span><a href="#">zoon.ru</a></div>
                                         </div>
                                         <div class="review_user">
                                             <div class="review_user_photo"><img src="{{this.photo}}" alt=""></div>
                                             <div class="review_user_name">{{this.name}}</div>
                                         </div>
                                     </div>
                                {{/each}}
                            </div>
                        {{/grouped_each}}
                    </div>
                </section>
                <!-- end: #reviews -->
            </div>
            <!-- end: .body -->
        </div>
        <!-- end: .page -->

        <footer class="footer">
            <div class="footer_logo"><img src="/assets/img/logo.svg" alt=""></div>
            <div class="footer_contacts">
                <p class="address">{{global.address}}</p>
                <p>
                    <a class="social vk" href="{{global.vkURL}}" target="_blank"></a>
                    <a class="social fb" href="{{global.facebookURL}}" target="_blank"></a>
                    <a class="social instagram" href="{{global.instagramURL}}" target="_blank">{{global.instagramName}}</a>
                </p>
            </div>
            <div class="footer_phone">
                <p>Бронирование столов:</p>
                <p class="phone"><a href="tel:{{global.phone}}">{{global.phone}}</a></p>
            </div>
            <div class="footer_time">
               <div class="work-time">
                   {{#each global.workTime}}
                     <p><span>{{this.day}}</span>{{this.time}}</p>
                   {{/each}}
               </div>
            </div>
        </footer>

    </div>
    <!-- end: .wrapper -->
    <!-- Modals -->
    <div class="gallery-modal modal hide">
        <div class="modal-content">
            <div class="light-slider-wrapper">
                <ul id="light-slider">
                    {{#each global.photos}}
                        <li data-thumb="img/gallery-photo-1.png">
                            <div class="slider_item"><img src="/assets/img/gallery-photo-1.png" alt=""></div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
     </div>

     <div class="enter-modal modal">
         <p class="phone"><a href="tel:+79999951717">{{global.phone}}</a></p>
         <div class="enter-wrapper">
            <div class="main_logo">
               <img class="logo_greenside" src="/assets//img/enter_logo.svg" alt="">
               <div class="wrpt">
                   <span class="text">Достигли ли вы совершеннолетнего возраста?</span>
                   <div class="buttons">
                      <button class="yep">Да</button>
                      <a href="{{global.redirectLink}}"><button>Нет</button></a>
                   </div>
               </div>
            </div>
            <div class="phantom"></div>
         </div>
         <div class="footer_contacts">
             <p class="address">{{global.addres}}</p>
             <p>
                 <a class="social vk" href="{{global.vkURL}}" target="_blank"></a>
                 <a class="social fb" href="{{global.facebookURL}}" target="_blank"></a>
                 <a class="social instagram" href="{{global.instagramURL}}" target="_blank">{{global.instagramName}}</a>
             </p>
         </div>
     </div>

     <div class="menu-modal modal hide">
         <div class="close">✕</div>
         <div class="background-logo">
            <img class="background-logo-image" src="/assets/img/menu_logo.svg" alt="">
         </div>
         <div class="header">
            <div class="title">Меню кальянной</div>
            <div class="pages">
               {{#each global.menu}}
                  <div class="page-title {{#if @first}}current{{/if}}">{{this.title}}</div>
               {{/each}}
               <div class="cursor"></div>
            </div>
         </div>
         <div class="pages-wrapper">
            {{#each global.menu as |page pageKey|}}
            <div class="page">
               <div class="page-content">
                  {{#if page.table}}
                  <div class="tables">
                     {{#each page.blocks as |menuBlock blockKey|}}
                     <table>
                        <thead>
                           <tr>
                              <td>{{menuBlock.title}}</td>
                           </tr>
                        </thead>
                        <tbody>
                           {{#each menuBlock.items as |item itemKey|}}
                           <tr>
                              <td class="{{#if item.isTitle}}subtitle{{/if}}">{{item.title}}</td>
                              <td class="price">{{item.price}}</td>
                           </tr>
                           {{/each}}
                        </tbody>
                     </table>
                     {{/each}}
                  </div>
                  {{else}}
                  {{#if @first}}
                     <div class="bowl-title">{{../global.bowl.title}}</div>
                     <div class="bowls">
                     {{#each ../global.bowl.types as |bowl key|}}
                        <div class="bowl-item">
                           <span class="bowl-name">{{bowl.name}}</span>
                           <span class="bowl-price">{{bowl.price}}</span>
                        </div>
                     {{/each}}
                     </div>
                  {{/if}}
                  <div class="block">
                     {{#each page.blocks as |menuBlock blockKey|}}
                     <div class="block-title">{{menuBlock.title}}</div>
                     <div class="items">
                        {{#each menuBlock.items as |item itemKey|}}
                        <div class="item">
                           <div class="item-title">{{item.title}}</div>
                           <div class="item-text">{{item.text}}</div>
                           <div class="item-price">{{item.price}}</div>
                        </div>
                        {{/each}}
                     </div>
                     {{/each}}
                  </div>
                  {{/if}}
                  <div class="page-footer">
                     {{#each page.texts}}
                     <div class="text">
                        {{this.text}}
                     </div>
                     {{/each}}
                  </div>
               </div>
            </div>
            {{/each}}
            </div>
         </div>
     </div>
        
     </div>
    <!-- * Scripts * -->
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>